# /
/.project
/.settings
/workspace

# /plugin/
/plugin/.classpath
/plugin/.project
/plugin/.settings
/plugin/target

# /plugin-test/
/plugin-test/target
/plugin-test/.settings
/plugin-test/.classpath
/plugin-test/.project

# /rcp/
/rcp/.classpath
/rcp/.project
/rcp/.settings
/rcp/target
